<h1>Showing article details</h1>
<p><string>Title: </string> <%= @article.title %></p>
<p><string>Description: </string> <%= @article.description %> </p>

<br>
<%= link_to 'Articles',  articles_path %>